/* CSS for RecommenderXBlock */
.clearFix {clear: both; height: 0.5em;}

.recommenderBlock .count {
	font-weight: bold;
}

.recommenderBlock p {
	cursor: pointer;
}

.hidden { display: none; }

.recommenderBlock {
  width : 100%;
}

.recommenderContent {
  width: 700px;
  float: left;
}

.hideShow, .recommenderModifyTitleContainer { 
  font-size: 14px;
  padding-top: 0.5em;
  padding-left: 0.5em;
  background-color: rgba(0,0,0,0.05);
  height: 28px;
  color: #948f8f;
}

.hideShow:before { content: 'Show'; }
.hideShow.resourceListExpanded:before { content: 'Hide'; }
.hideShow.resourceListExpanded { cursor: n-resize; }
.hideShow:not(.resourceListExpanded) { cursor: s-resize; }
.resourceListExpanded .expanded { display: block; }
.resourceListExpanded .notExpanded {display: none; }
.expanded { display: none; }
.notExpanded {display: block; }

.recommenderRow { 
  height: 380px;
}

.recommenderTitle {
  flex-grow : 1;
  max-height: 65px;
  overflow-y: auto;
}

.question {
  width:700px;
}

.recommenderResource {
  padding-top : 0.25em;
  padding-bottom : 0.25em;
  float:left;
  width : 100%;
}

.expanded, .notExpanded {
  float: right;
  width: 50px;
}
/*
.resourceListLess, .resourceListMore {
  border : 1;
  padding : 1;
  margin : 1;
  width : 95%;
  border-color:gray;
  border-width:1px;
  border-style:solid;
  border-radius:5px;
}

.recommenderHeader {
  display : flex;
  padding : 0 0 10 0;
}*/

.recommenderModify {
  width: 700px;
}

.descriptionImg {
  max-height: 1020px;
  max-width: 700px;
  margin-top: 2em;
}

.descriptionText {
  max-height: 200px;
  overflow: auto;
  padding: 0.5em;
  background-color: rgba(0,0,0,0.05);
  color: #948f8f;
}

.showProblematicReasons {
  max-height: 200px;
  overflow: auto;
  padding: 0.5em;
  background-color: #B4053D;
  color: white;
}

.showEndorsedReasons {
  max-height: 200px;
  overflow: auto;
  padding: 0.5em;
  background-color: rgb(69, 194, 10);
  color: white;
}

.showProblematicReasons:before { content: 'This resource was flagged problematic by students.'; }
.showEndorsedReasons:before { content: 'This resource was endorsed by course staff.'; }

.previewingImg {
  margin-top: 1em;
  max-width: 700px;
  max-height: 600px;
}

.recommenderVoteArrowDown {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.recommenderVoteArrowUp {
  width: 100%; 
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.recommenderVoteScore {
  width: 100%; 
  text-align: center;
  cursor: default;
  font-weight: 900;
}

.recommenderRecommendations { display: table; }

.pagination {
  display: table;
  margin: 0 auto;
}

.recommenderBlurb {
  display:inline-block;
  vertical-align: middle;
  width:570px;
  overflow:hidden;
  word-wrap: break-word;
}

.recommenderEndorse { width:15px; display: inline-block; }

.recommenderEntryId, .recommenderDescriptionImg, .recommenderProblematicReason, .recommenderDescriptionText, .recommenderEndorseReason {
  display:none;
}

.recommenderVoteBox {
  display:inline-block;
  vertical-align: middle;
  width:50px;
}

.recommenderEdit {
  display:inline-block;
  vertical-align: top;
  float: right;
  width: 40px;
}

.redTxt {
  color: #B4053D;
}

.recommenderVoteArrowDown, .recommenderVoteArrowUp, .resourceEditButton, .flagResource, .deendorse, .resourceAddButton, .paginationPageNumber, .backToViewButton, .endorse, .resourceRankingForDeendorsementButton { cursor: pointer; }

.resourceAddButton { float: right; background-color: rgba(0,0,0,0.05); padding: 0.3em 1em 0.3em 1em;}
.resourceEditButton { float: left; }
.addResourcePageTitle, .editResourcePageTitle, .flagResourcePageTitle, .deendorsePageTitle, .endorsePageTitle {
	margin-bottom: 1em;
}

.editResourcePage, .addResourcePage, .flagResourcePage {
  padding-left: 1em;
}

.paginationPageNumber {
  display:table-cell;
  text-align:center;
  vertical-align: middle;
  width:25px;
}

.backToViewButton { color: #1d9dd9; float: left; }

.flagReasonSubmit, .editSubmit, .addSubmit, .deendorseResource, .endorseResource { margin-top: 0.5em; }

input[type="button"]:not([DISABLED]){
  background-image: linear-gradient(#1d9dd9,#1d9dd9);
  color: white;
}

.endorseResource, .deendorseResource { margin-top: 0.5em; float:left; }

.ui-icon.problematic {
	background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_ff0000_256x240.png);
}

.inTitle, .editTitle, .inDescriptionText, .editDescriptionText { 
  height: 75px;
  margin-left: 0.5em;
  width:100%;
}
.inUrl, .editUrl, .flagReason, .deendorseReason, .endorseReason, .awsAccessKey, .awsSecretKey, .bucketName, .uploadedFileUrl, .uploadedFileDir {
  height: 25px;
  margin-left: 0.5em;
  width:100%;
}

.resourceHovered { background-color:#F2F7FA }

.recommenderModifyTitle { float: right; padding-right: 2em; overflow: auto; }

.recommenderVoteScore, .recommenderVoteArrowUp, .recommenderVoteArrowDown { color: #948f8f; }
.recommenderVoteScore.upvoting, .recommenderVoteArrowUp.upvoting { color: rgb(69, 194, 10); }
.recommenderVoteScore.downvoting, .recommenderVoteArrowDown.downvoting { color: #B4053D; }
.recommenderVoteArrowUp.downvoting, .recommenderVoteArrowDown.upvoting { color: #948f8f; }

.resourceRankingForDeendorsementButton:not(.deendorsementMode) {
  float: right;
  background-color: rgba(0,0,0,0.05);
  padding: 0.3em 1em 0.3em 1em;
  color: black;
}
.resourceRankingForDeendorsementButton.deendorsementMode {
  float: right;
  background-color: #B4053D;
  padding: 0.3em 1em 0.3em 1em;
  color: white;
}
.resourceRankingForDeendorsementButton:not(deendorsementMode):before { content: 'Ordinary '; }
.resourceRankingForDeendorsementButton.deendorsementMode:before { content: 'De-endorsement '; }

.endorse:not(.endorsed) { color: #DFD3D3; display: none; }
.endorse.endorsed { color: rgb(69, 194, 10); }
.endorse:before { content: '✔'; }
.downArrow:before { content: '▼'; }
.upArrow:before { content: '▲'; }
.downArrow, .upArrow { margin-left: 0.5em; }
.plusIcon:before { content: '+'; }
.nextPageIcon:before { content: '►'; }
.previousPageIcon:before { content: '◄'; }
.morePageIcon:before { content: '...'; }
.highlightActivePageNumber { background-color: #948f8f; }

.my-custom-theme {
	background: #948f8f;
	color: black;
}

.my-custom-theme .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

a:link, a:visited { color: black; }
form { margin: 0em; }
