/* CSS for RecommenderXBlock */
.clearFix {clear: both; height: 0.5em;}

.recommender_block .count {
    font-weight: bold;
}

.recommender_block p {
    cursor: pointer;
}

.hidden { display: none; }

.recommender_block {
  width : 100%;
}

.recommender_content {
  width: 700px;
  float: left;
}

.recommender_row_top, .recommender_modify_title_container { 
  font-size: 14px;
  padding-top: 0.5em;
  padding-left: 0.5em;
  background-color: rgba(0,0,0,0.05);
  height: 28px;
  color: #948f8f;
}

.recommender_row_top:before { content: 'Show'; }
.recommender_row_top.resource_list_expanded:before { content: 'Hide'; }

.recommender_row { 
  height: 380px;
}

.recommender_title {
  flex-grow : 1;
  max-height: 65px;
  overflow-y: auto;
}

.question {
  width:700px;
}

.recommender_resource {
  padding-top : 0.25em;
  padding-bottom : 0.25em;
  float:left;
  width : 100%;
}

.recommender_panel {
  float: right;
  width: 50px;
}

.resource_list_less, .resource_list_more {
  border : 1;
  padding : 1;
  margin : 1;
  width : 95%;
  border-color:gray;
  border-width:1px;
  border-style:solid;
  border-radius:5px;

}

.recommender_header {
  display : flex;
  padding : 0 0 10 0;
}

.recommender_modify {
  width: 700px;
}

.descriptionImg {
  max-height: 800px;
  max-width: 700px;
  margin-top: 2em;
}

.descriptionText {
  max-height: 200px;
  overflow: auto;
  padding: 0.5em;
  background-color: rgba(0,0,0,0.05);
  color: #948f8f;
}

.previewingImg {
  margin-top: 1em;
  max-width: 700px;
  max-height: 600px;
}

.recommender_vote_arrow_down {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.recommender_vote_arrow_up {
  width: 100%; 
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.recommender_vote_score {
  width: 100%; 
  text-align: center;
  cursor: default;
  font-weight: 900;
}

.recommender_recommendations { display: table; }

.pagination {
  display: table;
  margin: 0 auto;
}

.recommender_blurb {
  display:inline-block;
  vertical-align: middle;
  width:570px;
  overflow:hidden;
  word-wrap: break-word;
}

.recommender_endorse { width:15px; display: inline-block; }

.recommender_entryId, .recommender_descriptionImg, .recommender_problematicReason, .recommender_descriptionText {
  display:none;
}

.recommender_vote_box {
  display:inline-block;
  vertical-align: middle;
  width:50px;
}

.recommender_edit{
  display:inline-block;
  vertical-align: top;
  float: right;
  width: 40px;
}

.redTxt {
  color: red;
}

.recommender_vote_arrow_down, .recommender_vote_arrow_up, .resource_edit_button, .flagResource, .s3info_add_button, .staffEdition, .resource_add_button, .hide-show, .paginationCell, .backToViewButton, .checkIcon { cursor: pointer; }


.s3info_add_button { float: right; background-color: rgba(0,0,0,0.05); padding: 0.3em 1em 0.3em 1em;}
.resource_add_button { float: right; background-color: rgba(0,0,0,0.05); padding: 0.3em 1em 0.3em 1em;}
.resource_edit_button { float: left; }
.addSourceBlockTitle, .editSourceBlockTitle, .flagSourceBlockTitle, .s3InfoBlockTitle, .staffEditionBlockTitle {
    margin-bottom: 1em;
}

.editSourceBlock, .recommender_add, .flagSourceBlock {
  padding-left: 1em;
}

.paginationCell {
  display:table-cell;
  text-align:center;
  vertical-align: middle;
  width:25px;
}

.backToViewButton { color: #1d9dd9; float: left; }

.flag_reason_submit, .edit_submit, .add_submit { margin-top: 0.5em; }

.delete_resource, .endorse_resource, .deendorse_resource { margin-top: 0.5em; float:left; }

.ui-icon.problematic {
    background-image: url(http://download.jqueryui.com/themeroller/images/ui-icons_ff0000_256x240.png);
}

.in_title, .edit_title, .in_descriptionText, .edit_descriptionText { 
  height: 75px;
  margin-left: 0.5em;
  width:100%;
}
.in_url, .edit_url, .flag_reason, .aws_access_key, .aws_secret_key, .bucketName, .uploadedFileUrl,.uploadedFileDir {
  height: 25px;
  margin-left: 0.5em;
  width:100%;
}

.submit_s3_info { margin-top: 0.5em; margin-bottom: 0.5em; } 

.resource_hovered { background-color:#F2F7FA }

.recommender_modify_title { float: right; padding-right: 2em; overflow: auto; }

.hide-show-icon { margin-left: 0.5em; }

.recommender_vote_score, .recommender_vote_arrow_up, .recommender_vote_arrow_down { color: #948f8f; }
.recommender_vote_score.upvoting, .recommender_vote_arrow_up.upvoting { color: rgb(69, 194, 10); }
.recommender_vote_score.downvoting, .recommender_vote_arrow_down.downvoting { color: red; }
.recommender_vote_arrow_up.downvoting, .recommender_vote_arrow_down.upvoting { color: #948f8f; }

.checkIcon:not(.endorsed) { color: #DFD3D3; display: none; }
.checkIcon.endorsed { color: rgb(69, 194, 10); }
.checkIcon:before { content: '✔'; }
.downArrowIcon:before { content: '▼'; }
.upArrowIcon:before { content: '▲'; }
.plusIcon:before { content: '+'; }
.rightArrowIcon:before { content: '►'; }
.leftArrowIcon:before { content: '◄'; }
.moreIcon:before { content: '...'; }
.lightgreyBg { background-color: #948f8f; }

.my-custom-theme {
	background: #948f8f;
	color: black;
}

.my-custom-theme .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}

a:link, a:visited { color: black; }
form { margin: 0em; }
